/* Reset margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(218, 28%, 13%);
}

/* ==========Navigation Section Style========= */
nav {
  /* background-color: hsl(218, 28%, 13%); */
  background-color: hsl(217, 28%, 15%);
}

nav .nav-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  max-width: 1020px;
  margin: auto;
}

nav .nav-main .logo  {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .nav-main .logo img {
  width: 130px;
}


nav .nav-main .menus {
  display: flex;
  gap: 25px;
  list-style: none;
}

nav .nav-main .menus .link a {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: hsl(0, 0%, 100%);
}

/* ==========Navigation Section Style End========= */

/* ==========Hero Section Style========= */
.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(images/bg-curvy-desktop.svg);
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-color: hsl(217, 28%, 15%);
}

.hero-section .hero-image {
  max-width: 520px;
}

.hero-section .hero-image img {
  margin-top: 60px;
  height: 420px;
  width: 100%;
}

.hero-section .heading1-text {
  max-width: 520px;
  margin: 40px 0 0 0;
}

.hero-section .heading1-text h1{
  width: 100%;
  text-align: center;
  color: hsl(0, 0%, 100%);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 30px;
}

.hero-section .paragraph-text {
  max-width: 450px;
  margin: 40px 0 0 0;
}

.hero-section .paragraph-text p {
  width: 100%;
  text-align: center;
  color: hsl(0, 0%, 76%);
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.hero-section .get-started-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section .get-started-button a {
  margin: 30px 0;
  padding: 10px 50px;
  border-radius: 20px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(198, 60%, 50%);
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}
/* ==========Hero Section Style End========= */

/* ==========Features Section Style========= */
.features-section {
  margin-top: 100px;
}
.features-section .container-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, max(430px));
  justify-content: center;
  grid-gap: 45px;
  max-width: 910px;
  margin: auto;
}

.features-section .container-grid .grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 40px;
}

.features-section .container-grid .grid .icon {
  margin: 15px 0 0 0;
}

.features-section .container-grid .grid .heading3 {
  margin: 15px 0 0 0;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: hsl(0, 0%, 100%);
}

.features-section .container-grid .grid .paragraph {
  margin: 15px 0 0 0;
  text-align: center;
  color: hsl(0, 0%, 76%);
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
/* ==========Features Style End========= */

/* ==========Stay Productive Style========= */
.stay-productive {
  margin-top: 100px;
}

.stay-productive .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  max-width: 1020px;
  margin: auto;
}

.stay-productive .row .col1 {
  width: 485px;
  padding: 0 15px;
}

.stay-productive .row .col1 img {
  width: 100%;
  height: 400px;
}

.stay-productive .row .col2 {
  width: 425px;
  padding: 0 15px;
}

.stay-productive .row .col2 .heading2 h2 {
  width: 100%;
  color: hsl(0, 0%, 100%);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
}

.stay-productive .row .col2 .paragraph p {
  width: 100%;
  margin-top: 10px;
  color: hsl(0, 0%, 76%);
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.stay-productive .row .col2 .how-fylo-work {
  max-width: 150px;
  margin-top: 10px;
}

.stay-productive .row .col2 .how-fylo-work a {
  display: flex;
  align-items: center;
  width: 100%;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: hsl(198, 60%, 50%);
  border-bottom: 1px solid hsl(198, 60%, 50%);
  padding-bottom: 4px;
}
/* ==========Stay Productive Section Style End========= */

/* ==========Team Section Style End========= */
.qoute {
  max-width: 1020px;
  margin: 150px auto 0 auto;
  height: 50px;
}

.team-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 0 280px 0;
}

.team-section .card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  max-width: 1020px;
}

.team-section .card-container .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 320px;
  padding: 20px;
  border-radius: 10px;
  background-color: hsl(219, 30%, 18%);
}

.team-section .card-container .card .paragraph p {
  color: hsl(0, 0%, 76%);
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.team-section .card-container .card .profile {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 25px;
}

.team-section .card-container .card .profile img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.team-section .card-container .card .profile .profile-info .name {
  color: hsl(0, 0%, 100%);
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 1px;
}

.team-section .card-container .card .profile .profile-info .position {
  color: hsl(0, 0%, 76%);
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
}
/* ==========Team Section Style End========= */

/* ==========Contact Section Style========= */
.contact-section {
  padding-top: 200px;
  background-color: hsl(216, 53%, 9%);
  position: relative;
}

.contact-section .contact-card {
  max-width: 800px;
  margin: 100px auto 0 auto;
  padding: 30px;
  background-color: hsl(217, 28%, 15%);
  border-radius: 10px;
  position: absolute;
  top: -200px;
  left: 50%;
  transform: translate(-50%);
}

.contact-section .contact-card h2 {
  color: hsl(0, 0%, 100%);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 28px;
  text-align: center;
}

.contact-section .contact-card p {
  color: hsl(0, 0%, 76%);
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  text-align: center;
  margin-top: 15px;
}

.contact-section .contact-card form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  margin-top: 25px;
}

.contact-section .contact-card form input[type='email'] {
  width: 60%;
  border: none;
  border-radius: 20px;
  padding: 8px 15px;
  font-size: 14px;
}

.contact-section .contact-card form input[type='submit'] {
  width: 30%;
  border: none;
  border-radius: 20px;
  padding: 8px;
  font-size: 14px;
  background-color: hsl(198, 60%, 50%);
  color: hsl(0, 0%, 100%);
}

.contact-section .contact-info {
  max-width: 1020px;
  margin: auto;
}

.contact-section .contact-info .logo img {
  width: 130px;
}

.contact-section .contact-info .contact-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}

.contact-section .contact-info .contact-grid .location {
  display: flex;
  width: 220px;
}

.contact-section .contact-info .contact-grid .location img {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.contact-section .contact-info .contact-grid .location p {
  color: hsl(0, 0%, 100%);
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

.contact-section .contact-info .contact-grid .contact-details ul {
  list-style: none;
}

.contact-section .contact-info .contact-grid .contact-details ul li {
  display: flex;
  align-items: center;
  padding: 3px 0;
  color: hsl(0, 0%, 100%);
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

.contact-section .contact-info .contact-grid .contact-details ul li img {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.contact-section .contact-info .contact-grid .about-us h5 {
  font-size: 15px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  color: hsl(0, 0%, 100%);
}

.contact-section .contact-info .contact-grid .about-us ul {
  list-style: none;
  font-family: 'Open Sans', sans-serif;
}

.contact-section .contact-info .contact-grid .about-us ul li a {
  color: hsl(0, 0%, 100%);
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}

.contact-section .contact-info .contact-grid .contact-us h5 {
  font-size: 15px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  color: hsl(0, 0%, 100%);
}

.contact-section .contact-info .contact-grid .contact-us ul {
  list-style: none;
  font-family: 'Open Sans', sans-serif;
}

.contact-section .contact-info .contact-grid .contact-us ul li a {
  color: hsl(0, 0%, 100%);
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}

.contact-section .contact-info .contact-grid .social-media ul {
  display: flex;
  gap: 12px;
  list-style: none;
}

.contact-section .contact-info .contact-grid .social-media ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 50%;
}

.contact-section .contact-info .contact-grid .social-media ul li a i {
  padding: 6px 5px;
  width: 25px;
  height: 25px;
  text-align: center;
}
/* ==========Team Section Style End========= */

.attribution { 
  font-size: 11px; text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}





/* Media Query */

/* Mobile Style */
@media screen and (max-width: 375px) {
  
}